<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/login.css">
</head>
<body>
	<div id="app">
        <div class="content">
                
            <div class="title">登录</div>
            
            <div class="msg">
            <form action="#" method="post" autocomplete="off">
                <table width="80%" align="right"> 
                    <tr>
                        <th>账 号：</th>
                        <td><input type="text" class="textinput" placeholder="请输入账号"
                            id="username" name="username" v-model="name"/></td>
                        <td><span id="usernameMsg"></span></td>
                    </tr>
                    <tr>
                        <th>密  码：</th>
                        <td><input type="password" class="textinput" placeholder="请输入密码"
                            id="password" name="password" v-model="password"/></td>
                        <td><span id="passwordMsg"></span></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="checkbox" value="显示密码" v-model="showPwd" @click="showPwdEvent"/>显示密码
                            <input type="checkbox" value="记住密码" v-model="savePwd" @click="savePwdEvent" />记住密码
                        </td>
                        <td></td>
                    </tr>
                    
                </table>
                <div class="bottom-btn">
                    <input type="button" value="登录" @click="login"/>
                    <input type="reset" value="重置" @click="reset"/>
                </div>
            </form>
            </div>
            
        </div>
    
    </div>

    <script type = "text/javascript">
        new Vue({
            el: '#app',
            data () {
                return {
                    name:null,
                    password: null,
                    result: null,
                    showPwd: false,
                    savePwd: false,
                    loginState: false,
                }
            },
            created () {
                // 在页面加载时从cookie获取登录信息
                let name = this.getCookie("name");
                let password = this.getCookie("password");
                let savePwd = this.getCookie("savePwd");
                let loginState = this.getCookie("loginState");
                //alert(savePwd);
                // 如果存在赋值给表单，并且将记住密码勾选
                if(savePwd == "true"){
                    this.name = name;
                    this.password = password;
                    this.savePwd = true;
                }else{
                	this.name = "";
                	this.password = "";
                	this.savePwd = false;
                }
            },
            methods: {
                showPwdEvent: function (event) {
                    if(event){
                        var pwd  = document.getElementById("password");
                        // alert(this.showPwd);
                        if(this.showPwd === true){
                            this.showPwd = true;
                            pwd.type = "text";
                         }
                        else{
                            this.showPwd = false;
                            pwd.type = "password";
                        }
                    }
                },

                savePwdEvent: function (event) {
                    if(event){
                        if(this.savePwd){
                            this.savePwd = true;    
                        }else{
                            this.savePwd = false;
                        } 
                        
                    }
                },

                // 获取cookie
                getCookie: function (key) {
                    if (document.cookie.length > 0) {
                        var start = document.cookie.indexOf(key + '=');
                    if (start !== -1) {
                        start = start + key.length + 1;
                        var end = document.cookie.indexOf(';', start);
                        if (end === -1) end = document.cookie.length;
                        return unescape(document.cookie.substring(start, end));
                    }
                    }
                    return '';
                },
                // 保存cookie
                setCookie: function (cName, value, expiredays) {
                    var exdate = new Date()
                    exdate.setDate(exdate.getDate() + expiredays)
                    document.cookie = cName + '=' + decodeURIComponent(value) +
                   ((expiredays == null) ? '' : ';expires=' + exdate.toGMTString())
                    
                },
                
                reset: function (event){
                	this.name = null;
                	this.password = null;
                	this.result = null;
                	this.showPwd = false;
                	this.savePwd = false;
                	this.loginState = false;
                },

                login: function (event) {
                    if (event) {
                        if(this.name == null){
                            this.result = "账号不能为空";
                            this.name = null;
                            this.password = null;
                            alert("账号不能为空");
                        }else if(this.password == null){
                            this.result = "密码不能为空";
                            this.name = null;
                            this.password = null;
                            alert("密码不能为空");
                        }else{
                            axios
                             .post('http://120.24.221.139:8080/zkmanager/loginSystem?name='+this.name+'&&password='+this.password)
                            //.post('http://localhost:8080/ZKManager/loginSystem?name='+this.name+'&&password='+this.password)
                            //  , {
                            //      name:this.name,
                            //      password:this.password,
                            //  })
                            .then(response => { //成功回调
                                if(response.data.code === 200){
                                    if(response.data.object.type === "地质组"){
                                        this.result = "登录成功";
                                        this.setCookie("name",this.name,600);
                                        this.setCookie("password",this.password,600);
                                        this.setCookie("savePwd",this.savePwd,600);
                                        this.setCookie("loginState",true,600);
                                        /* window.location.href="index.html?type="+response.data.object.type; */
                                    	window.location.href="/zkmanager/toIndex";
                                    }else{
                                        this.result = "该账号不是地质组账号";
                                        this.name = null;
                                        this.password = null;
                                        alert(this.result);
                                    }
                                    
                                }else{
                                    this.result = "账号或密码错误";
                                    this.name = null;
                                    this.password = null;
                                    alert(this.result);
                                }
                                // this.info = response.data;
                                // this.code = response.data.code;
                                
                            })
                            .catch(function (error) { // 请求失败处理
                                console.log(error);
                                this.name = null;
                                this.password = null;
                                alert('数据请求失败！');
                            });
                        }
                        
                        
                    }
                }
            }
        })
    </script>
</body>
</html>