body{
	background-color: lightblue;
}
.content{
	width: 30%;
	height: 50%;
	background-color: white;
	margin: auto;
	text-align: center;
}

.title{
	font-size: 30pt;
	padding-top: 20px;
	
}

.bottom-btn input{
	margin: 20px auto;
	width: 38%;
	border: none;
	background-color: cadetblue;
	font-size: 15pt;
	
}

.msg{
	margin: 20px auto;
	
}

th{
	text-align: right;
	width: 20%;
}

td{
	text-align: left;
}